@model IEnumerable<tp_5.Models.ApplicationUser>

@{
    ViewData["Title"] = "User List";
}

<h1>Registered Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Username</th>
            <th>City</th>
            <th>Email Confirmed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@user.City</td>
                <td>@user.EmailConfirmed</td>
            </tr>
        }
    </tbody>
</table>